body {
   background-color: #f6f6f6
}
#painting {
   height: 400px;
   width: 400px;
   background-color: #fff4db;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   box-shadow: 5px 5px 5px;
}
#toprow {
    width:400px;
    height:290px;
}
.red {
    background-color: red ;
}
#bigbox {
    width:290px;
    height:290px;
}
.right {
    float: right;
}
.mediumbox{
    width:110px;
    height:145px;
}
#topdivider{
    width:10px;
    height:290px;
}
.black {
    background-color: black;
}
#divider2 {
    width:110px;
    height:10px;
}
#botrow {
    width:400px;
    height: 110px;
}
#botdivider {
    width:400px;
    height: 10px;
    
}
#bluebox {
  width: 100px;
  height: 100px;
  background-color: blue;
  float: left;
}
.botrowdivider {
  width: 10px;
  height: 100px;
}
.inlineblock {
  display: inline-block;
  margin-right: -4px;
}
#botright {
  width: 20px;
  height: 100px;
}
#midbotbox {
  width: 260px;
  height: 100px;
}
#smallestbox {
  width: 20px;
  height: 45px;
}
#smallestdivider {
  width: 20px;
  height: 10px;
}
.gold {
  background-color: gold;
}
